<!doctype html>
<html lang="en" dir="ltr">

<head>

    <!-- META DATA -->
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Crypto-Dashboard
    <meta name="author" content="XYZ Technologies Private Limited">
    <meta name="keywords"
        content="admin,admin dashboard,admin panel,admin template,bootstrap,clean,dashboard,flat,jquery,modern,responsive,premium admin templates,responsive admin,ui,ui kit.">

    <!-- FAVICON -->
    <!-- <link rel="shortcut icon" type="image/x-icon" href="../assets/images/brand/favicon.ico" /> -->

    <!-- TITLE -->
    <title>Crypto-Dashboard</title>

    <!-- BOOTSTRAP CSS -->
    <link id="style" href="../assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- STYLE CSS -->
    <link href="../assets/css/style.css" rel="stylesheet" />
    <link href="../assets/css/dark-style.css" rel="stylesheet" />

    <!--- FONT-ICONS CSS -->
    <link href="../assets/css/icons.css" rel="stylesheet" />

    <!-- COLOR SKIN CSS -->
    <link id="theme" rel="stylesheet" type="text/css" media="all" href="../assets/colors/color1.css" />

</head>

<body class="app ltr landing-page horizontal">

    <!-- GLOBAL-LOADER -->
    <div id="global-loader">
        <img src="../assets/images/loader.svg" class="loader-img" alt="Loader">
    </div>
    <!-- /GLOBAL-LOADER -->

    <!-- PAGE -->
    <div class="page">
        <div class="page-main">

            <!-- app-Header -->
            <div class="hor-header header">
                <div class="container main-container">
                    <div class="d-flex">
                        <a aria-label="Hide Sidebar" class="app-sidebar__toggle" data-bs-toggle="sidebar"
                            href="javascript:void(0)"></a>
                        <!-- sidebar-toggle-->
                        <a class="logo-horizontal " href="index.html">
                            <img src="../assets/images/brand/logo.png" class="header-brand-img desktop-logo" alt="logo">
                            <img src="../assets/images/brand/logo-3.png" class="header-brand-img light-logo1"
                                alt="logo">
                        </a>
                        <!-- LOGO -->
                        <div class="d-flex order-lg-2 ms-auto header-right-icons">
                            <button class="navbar-toggler navresponsive-toggler d-lg-none ms-auto" type="button"
                                data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent-4"
                                aria-controls="navbarSupportedContent-4" aria-expanded="false"
                                aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon fe fe-more-vertical"></span>
                            </button>
                            <div class="navbar navbar-collapse responsive-navbar p-0">
                                <div class="collapse navbar-collapse bg-white px-0" id="navbarSupportedContent-4">
                                    <!-- SEARCH -->
                                    <div class="header-nav-right p-5">
                                        <a href="register.html" class="btn ripple btn-min w-sm btn-outline-primary me-2 my-auto"
                                            target="_blank">New User
                                        </a>
                                        <a href="login.html" class="btn ripple btn-min w-sm btn-primary me-2 my-auto"
                                            target="_blank">Login
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /app-Header -->

            <div class="landing-top-header overflow-hidden">
                <div class="top sticky overflow-hidden">
                    <!--APP-SIDEBAR-->
                    <div class="app-sidebar__overlay" data-bs-toggle="sidebar"></div>
                    <div class="app-sidebar bg-transparent horizontal-main">
                        <div class="container">
                            <div class="row">
                                <div class="main-sidemenu navbar px-0">
                                    <!-- <a class="navbar-brand ps-0 d-none d-lg-block" href="index.html">
                                        <img alt="" class="logo-2" src="../assets/images/brand/logo-3.png">
                                        <img src="../assets/images/brand/logo.png" class="logo-3" alt="logo">
                                    </a> -->
                                    <ul class="side-menu">
                                        <li class="slide">
                                            <a class="side-menu__item active" data-bs-toggle="slide" href="#home"><span
                                                    class="side-menu__label">Home</span></a>
                                        </li>
                                        <li class="slide">
                                            <a class="side-menu__item" data-bs-toggle="slide" href="#Faqs"><span
                                                    class="side-menu__label">Faq's</span></a>
                                        </li>
                                       
                                        <li class="slide">
                                            
                                                <a href="/supportpage">
                                                    <form action="/supportpage" method="GET"></form>
                                                  <button
                                                    class="side-menu__label" style="border: none;background-color: white;">Helpdesk
                                                  </button>
                                            </form>
                                                
                                            </a>
                                          
                                        </li>
                                        <li class="slide">
                                            <a class="side-menu__item" data-bs-toggle="slide" href="#Contact"><span
                                                    class="side-menu__label">Contact</span></a>
                                        </li>
                                    </ul>
                                    <form action='/register' method="GET">
                                        <div class="header-nav-right d-none d-lg-flex">
                                            <button href="login.ejs"
                                                class="btn ripple btn-min w-sm btn-outline-primary me-2 my-auto d-lg-none d-xl-block d-block"
                                                target="_blank">New User
                                        </button>
                                    </form>
                                    <form action="/login" method="GET">
                                        <button href="login.ejs" class="btn ripple btn-min w-sm btn-primary me-2 my-auto d-lg-none d-xl-block d-block"
                                        target="_blank">Login
                                    </button>
                                    </form>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/APP-SIDEBAR-->
                </div>
                <!-- <div class="demo-screen-headline main-demo main-demo-1 spacing-top overflow-hidden reveal" id="home">
                    <div class="container px-sm-0">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 mb-5 pb-5 animation-zidex pos-relative">
                                <h4 class="fw-semibold mt-7">Manage Your Business</h4>
                                <h1 class="text-start fw-bold">We Help to Build Your Dream Project with <span
                                        class="text-primary animate-heading">Sash</span></h1>
                                <h6 class="pb-3">
                                    Sash - Now you can use this admin template to design stunning dashboards
                                    that will wow your target viewers or users to no end. To create a good and
                                    well-structured dashboard,
                                    you need to start from scratch with HTML, SCSS, CSS, and JS and with lots of coding,
                                    but by using this Sash-Admin template.</h6>

                                <a href="https://themeforest.net/item/sash-bootstrap-5-admin-dashboard-template/35183671"
                                    target="_blank" class="btn ripple btn-min w-lg mb-3 me-2 btn-primary"><i
                                        class="fe fe-play me-2"></i> Get Started
                                </a>
                                <a href="https://themeforest.net/user/spruko/portfolio"
                                    class="btn ripple btn-min w-lg btn-outline-primary mb-3 me-2" target="_blank"><i
                                        class="fe fe-eye me-2"></i>Discover More
                                </a>
                            </div>
                            <div class="col-xl-6 col-lg-6 my-auto">
                                <img src="../assets/images/landing/market4.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                            <!-- ROW-5 CLOSED -->

                            <!-- ROW-6 OPEN -->
                            <div class="bg-landing section bg-image-style">
                                <div class="container">
                                    <div class="row">
                                        <h4 class="text-center fw-semibold">Choose a package </h4>
                                        <span class="landing-title"></span>
                                        <h2 class="text-center fw-semibold">Choose the <span class="text-primary">Perfect
                                                Package</span>.</h2>
                                        <div class="pricing-tabs">
                                            <div class="pri-tabs-heading text-center">
                                                <ul class="nav nav-price">
                                                    <li><a data-bs-toggle="tab" href="#month">Monthly</a></li>
                                                    <li><a class="active show" data-bs-toggle="tab"
                                                            href="#annualyear">Annual</a></li>
                                                </ul>
                                            </div>
                                            <div class="tab-content">
                                                <div class="tab-pane pb-0 active show" id="annualyear">
                                                    <div class="row d-flex align-items-center justify-content-center">
                                                        <div class="col-lg-4 col-xl-4 col-md-8 col-sm-12">
                                                            <div class="card p-3 pricing-card reveal revealrotate">
                                                                <div class="card-header d-block text-justified pt-2">
                                                                    <p class="fs-18 fw-semibold mb-1">Package Name</p>
                                                                    <p class="text-justify fw-semibold mb-1"> <span
                                                                            class="fs-30 me-2">$</span><span
                                                                            class="fs-30 me-1">399</span><span
                                                                            class="fs-25"><span
                                                                                class="op-0-5 text-muted text-20">/</span>
                                                                            year</span></p>
                                                                    <p class="fs-13 mb-1">Lorem ipsum dolor sit amet
                                                                        consectetur adipisicing elit. Iure quos debitis
                                                                        aliquam .</p>
                                                                    <p class="fs-13 mb-1 text-secondary">Billed monthly
                                                                        on regular basis!</p>
                                                                </div>
                                                                <div class="card-body pt-2">
                                                                    <ul class="text-justify pricing-body ps-0">
                                                                        <li><i
                                                                                class="mdi mdi-checkbox-marked-circle-outline p-2 fs-16 text-secondary"></i><strong>
                                                                                2 Free</strong> Domain Name</li>
                                                                        <li><i
                                                                                class="mdi mdi-checkbox-marked-circle-outline p-2 fs-16 text-secondary"></i>
                                                                            <strong>3 </strong> One-Click Apps
                                                                        </li>
                                                                        <li class="text-muted"><i
                                                                                class="mdi mdi-close-circle-outline p-2 fs-16 text-gray"></i><strong>
                                                                                1 </strong> Databases</li>
                                                                        <li class="text-muted"><i
                                                                                class="mdi mdi-close-circle-outline p-2 fs-16 text-gray"></i><strong>
                                                                                Unlimited </strong> Cloud Storage</li>
                                                                        <li class="text-muted"><i
                                                                                class="mdi mdi-close-circle-outline p-2 fs-16 text-gray"></i><strong>
                                                                                Money </strong> BackGuarantee</li>
                                                                        <li class=text-muted"><i
                                                                                class="mdi mdi-close-circle-outline p-2 fs-16 text-gray"></i><strong>
                                                                                24/7</strong> support</li>
                                                                    </ul>
                                                                </div>
                                                                <div class="card-footer text-center border-top-0 pt-1">
                                                                    <button
                                                                        class="btn btn-lg btn-outline-secondary btn-block">
                                                                        <span class="ms-4 me-4">Select</span>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 col-xl-4 col-md-8 col-sm-12">
                                                            <div
                                                                class="card p-3 border-primary pricing-card advanced reveal revealrotate">
                                                                <div class="card-header d-block text-justified pt-2">
                                                                    <p class="fs-18 fw-semibold mb-1 pe-0">Package Name<span
                                                                            class="tag bg-primary text-white float-end">Limited
                                                                            Deal</span></p>
                                                                    <p class="text-justify fw-semibold mb-1"> <span
                                                                            class="fs-30 me-2">$</span><span
                                                                            class="fs-30 me-1">1,299</span><span
                                                                            class="fs-25"><span
                                                                                class="op-0-5 text-muted text-20">/</span>
                                                                            year</span></p>
                                                                    <p class="fs-13 mb-2">Lorem ipsum dolor sit amet
                                                                        consectetur adipisicing elit. Iure quos debitis
                                                                        aliquam .</p>
                                                                    <p class="fs-13 mb-1 text-primary">Billed monthly on
                                                                        regular basis!</p>
                                                                </div>
                                                                <div class="card-body pt-2">
                                                                    <ul class="text-justify pricing-body ps-0">
                                                                        <li><i
                                                                                class="mdi mdi-checkbox-marked-circle-outline text-primary p-2 fs-16"></i>
                                                                            <strong> 5 Free</strong> Domain Name
                                                                        </li>
                                                                        <li><i
                                                                                class="mdi mdi-checkbox-marked-circle-outline text-primary p-2 fs-16"></i><strong>5
                                                                            </strong> One-Click Apps</li>
                                                                        <li><i
                                                                                class="mdi mdi-checkbox-marked-circle-outline text-primary p-2 fs-16"></i><strong>
                                                                                3 </strong> Databases</li>
                                                                        <li><i
                                                                                class="mdi mdi-checkbox-marked-circle-outline text-primary p-2 fs-16"></i><strong>
                                                                                Unlimited </strong> Cloud Storage</li>
                                                                        <li><i
                                                                                class="mdi mdi-checkbox-marked-circle-outline text-primary p-2 fs-16"></i><strong>
                                                                                Money </strong> BackGuarantee</li>
                                                                        <li class="mb-6"><i
                                                                                class="mdi mdi-checkbox-marked-circle-outline text-primary p-2 fs-16"></i><strong>
                                                                                24/7</strong> support</li>
                                                                    </ul>
                                                                </div>
                                                                <div class="card-footer text-center border-top-0 pt-1">
                                                                    <button
                                                                        class="btn btn-lg btn-primary-gradient text-white btn-block">
                                                                        <span class="ms-4 me-4">Select</span>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 col-xl-4 col-md-8 col-sm-12">
                                                            <div class="card p-3 pricing-card reveal revealrotate">
                                                                <div class="card-header d-block text-justified pt-2">
                                                                    <p class="fs-18 fw-semibold mb-1">Package Name</p>
                                                                    <p class="text-justify fw-semibold mb-1"> <span
                                                                            class="fs-30 me-2">$</span><span
                                                                            class="fs-30 me-1">899</span><span
                                                                            class="fs-25"><span
                                                                                class="op-0-5 text-muted text-20">/</span>
                                                                            year</span></p>
                                                                    <p class="fs-13 mb-1">Lorem ipsum dolor sit amet
                                                                        consectetur adipisicing elit. Iure quos debitis
                                                                        aliquam .</p>
                                                                    <p class="fs-13 mb-1  text-danger">Billed monthly on
                                                                        regular basis!</p>
                                                                </div>
                                                                <div class="card-body pt-2">
                                                                    <ul class="text-justify pricing-body ps-0">
                                                                        <li><i
                                                                                class="mdi mdi-checkbox-marked-circle-outline text-danger p-2 fs-16"></i><strong>
                                                                                1 Free</strong> Domain Name</li>
                                                                        <li><i
                                                                                class="mdi mdi-checkbox-marked-circle-outline text-danger p-2 fs-16"></i><strong>4
                                                                            </strong> One-Click Apps</li>
                                                                        <li><i
                                                                                class="mdi mdi-checkbox-marked-circle-outline text-danger p-2 fs-16"></i><strong>
                                                                                2 </strong> Databases</li>
                                                                        <li class="text-muted"><i
                                                                                class="mdi mdi-close-circle-outline text-gray p-2 fs-16"></i><strong>
                                                                                Unlimited </strong> Cloud Storage</li>
                                                                        <li class="text-muted"><i
                                                                                class="mdi mdi-close-circle-outline text-gray p-2 fs-16"></i><strong>
                                                                                Money </strong> BackGuarantee</li>
                                                                        <li class="text-muted"><i
                                                                                class="mdi mdi-close-circle-outline text-gray p-2 fs-16"></i><strong>
                                                                                24/7</strong> support</li>
                                                                    </ul>
                                                                </div>
                                                                <div class="card-footer text-center border-top-0 pt-1">
                                                                    <button
                                                                        class="btn btn-lg btn-outline-danger btn-block">
                                                                        <span class="ms-4 me-4">Select</span>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane" id="month">
                                                    <div class="row d-flex align-items-center justify-content-center">
                                                        <div class="col-lg-4 col-xl-4 col-md-8 col-sm-12">
                                                            <div class="card p-3 pricing-card">
                                                                <div class="card-header d-block text-justified pt-2">
                                                                    <p class="fs-18 fw-semibold mb-1">Package Name</p>
                                                                    <p class="text-justify fw-semibold mb-1"> <span
                                                                            class="fs-30 me-2">$</span><span
                                                                            class="fs-30 me-1">39</span><span
                                                                            class="fs-25"><span
                                                                                class="op-0-5 text-muted text-20">/</span>
                                                                            month</span></p>
                                                                    <p class="fs-13 mb-1">Lorem ipsum dolor sit amet
                                                                        consectetur adipisicing elit. Iure quos debitis
                                                                        aliquam .</p>
                                                                    <p class="fs-13 mb-1 text-secondary">Billed monthly
                                                                        on regular basis!</p>
                                                                </div>
                                                                <div class="card-body pt-2">
                                                                    <ul class="text-justify pricing-body ps-0">
                                                                        <li><i
                                                                                class="mdi mdi-checkbox-marked-circle-outline p-2 fs-16 text-secondary"></i><strong>
                                                                                2 Free</strong> Domain Name</li>
                                                                        <li><i
                                                                                class="mdi mdi-checkbox-marked-circle-outline p-2 fs-16 text-secondary"></i>
                                                                            <strong>3 </strong> One-Click Apps
                                                                        </li>
                                                                        <li class="text-muted"><i
                                                                                class="mdi mdi-close-circle-outline p-2 fs-16 text-gray"></i><strong>
                                                                                1 </strong> Databases</li>
                                                                        <li class="text-muted"><i
                                                                                class="mdi mdi-close-circle-outline p-2 fs-16 text-gray"></i><strong>
                                                                                Unlimited </strong> Cloud Storage</li>
                                                                        <li class="text-muted"><i
                                                                                class="mdi mdi-close-circle-outline p-2 fs-16 text-gray"></i><strong>
                                                                                Money </strong> BackGuarantee</li>
                                                                        <li class=text-muted"><i
                                                                                class="mdi mdi-close-circle-outline p-2 fs-16 text-gray"></i><strong>
                                                                                24/7</strong> support</li>
                                                                    </ul>
                                                                </div>
                                                                <div class="card-footer text-center border-top-0 pt-1">
                                                                    <button
                                                                        class="btn btn-lg btn-outline-secondary btn-block">
                                                                        <span class="ms-4 me-4">Select</span>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 col-xl-4 col-md-8 col-sm-12">
                                                            <div class="card p-3 border-primary pricing-card advanced">
                                                                <div class="card-header d-block text-justified pt-2">
                                                                    <p class="fs-18 fw-semibold mb-1 pe-0">Package Name<span
                                                                            class="tag bg-primary text-white float-end">Limited
                                                                            Deal</span></p>
                                                                    <p class="text-justify fw-semibold mb-1"> <span
                                                                            class="fs-30 me-2">$</span><span
                                                                            class="fs-30 me-1">199</span><span
                                                                            class="fs-25"><span
                                                                                class="op-0-5 text-muted text-20">/</span>
                                                                            month</span></p>
                                                                    <p class="fs-13 mb-2">Lorem ipsum dolor sit amet
                                                                        consectetur adipisicing elit. Iure quos debitis
                                                                        aliquam .</p>
                                                                    <p class="fs-13 mb-1 text-primary">Billed monthly on
                                                                        regular basis!</p>
                                                                </div>
                                                                <div class="card-body pt-2">
                                                                    <ul class="text-justify pricing-body ps-0">
                                                                        <li><i
                                                                                class="mdi mdi-checkbox-marked-circle-outline text-primary p-2 fs-16"></i>
                                                                            <strong> 5 Free</strong> Domain Name
                                                                        </li>
                                                                        <li><i
                                                                                class="mdi mdi-checkbox-marked-circle-outline text-primary p-2 fs-16"></i><strong>5
                                                                            </strong> One-Click Apps</li>
                                                                        <li><i
                                                                                class="mdi mdi-checkbox-marked-circle-outline text-primary p-2 fs-16"></i><strong>
                                                                                3 </strong> Databases</li>
                                                                        <li><i
                                                                                class="mdi mdi-checkbox-marked-circle-outline text-primary p-2 fs-16"></i><strong>
                                                                                Unlimited </strong> Cloud Storage</li>
                                                                        <li><i
                                                                                class="mdi mdi-checkbox-marked-circle-outline text-primary p-2 fs-16"></i><strong>
                                                                                Money </strong> BackGuarantee</li>
                                                                        <li class="mb-6"><i
                                                                                class="mdi mdi-checkbox-marked-circle-outline text-primary p-2 fs-16"></i><strong>
                                                                                24/7</strong> support</li>
                                                                    </ul>
                                                                </div>
                                                                <div class="card-footer text-center border-top-0 pt-1">
                                                                    <button
                                                                        class="btn btn-lg btn-primary-gradient text-white btn-block">
                                                                        <span class="ms-4 me-4">Select</span>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 col-xl-4 col-md-8 col-sm-12">
                                                            <div class="card p-3 pricing-card">
                                                                <div class="card-header d-block text-justified pt-2">
                                                                    <p class="fs-18 fw-semibold mb-1">Package Name</p>
                                                                    <p class="text-justify fw-semibold mb-1"> <span
                                                                            class="fs-30 me-2">$</span><span
                                                                            class="fs-30 me-1">69</span><span
                                                                            class="fs-25"><span
                                                                                class="op-0-5 text-muted text-20">/</span>
                                                                            month</span></p>
                                                                    <p class="fs-13 mb-1">Lorem ipsum dolor sit amet
                                                                        consectetur adipisicing elit. Iure quos debitis
                                                                        aliquam .</p>
                                                                    <p class="fs-13 mb-1  text-danger">Billed monthly on
                                                                        regular basis!</p>
                                                                </div>
                                                                <div class="card-body pt-2">
                                                                    <ul class="text-justify pricing-body ps-0">
                                                                        <li><i
                                                                                class="mdi mdi-checkbox-marked-circle-outline text-danger p-2 fs-16"></i><strong>
                                                                                1 Free</strong> Domain Name</li>
                                                                        <li><i
                                                                                class="mdi mdi-checkbox-marked-circle-outline text-danger p-2 fs-16"></i><strong>4
                                                                            </strong> One-Click Apps</li>
                                                                        <li><i
                                                                                class="mdi mdi-checkbox-marked-circle-outline text-danger p-2 fs-16"></i><strong>
                                                                                2 </strong> Databases</li>
                                                                        <li class="text-muted"><i
                                                                                class="mdi mdi-close-circle-outline text-gray p-2 fs-16"></i><strong>
                                                                                Unlimited </strong> Cloud Storage</li>
                                                                        <li class="text-muted"><i
                                                                                class="mdi mdi-close-circle-outline text-gray p-2 fs-16"></i><strong>
                                                                                Money </strong> BackGuarantee</li>
                                                                        <li class="text-muted"><i
                                                                                class="mdi mdi-close-circle-outline text-gray p-2 fs-16"></i><strong>
                                                                                24/7</strong> support</li>
                                                                    </ul>
                                                                </div>
                                                                <div class="card-footer text-center border-top-0 pt-1">
                                                                    <button
                                                                        class="btn btn-lg btn-outline-danger btn-block">
                                                                        <span class="ms-4 me-4">Select</span>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ROW-6 CLOSED -->

                            <!-- ROW-7 OPEN -->
                            <div class="section" id="Faqs">
                                <div class="container">
                                    <div class="row">
                                        <h4 class="text-center fw-semibold">FAQ'S ?</h4>
                                        <span class="landing-title"></span>
                                        <h2 class="text-center fw-semibold">We are here to help you</h2>
                                        <div class="row justify-content-center">
                                            
                                        </div>
                                        <section class="sptb demo-screen-demo" id="faqs">
                                            <div class="row align-items-center">
                                                <div class="col-md-12 col-lg-6">
                                                    <div class="col-md-12 grid-item  px-0">
                                                        <div
                                                            class="card card-collapsed bg-primary-transparent p-0 reveal">
                                                            <div class="card-header grid-link"
                                                                data-bs-toggle="card-collapse">
                                                                <a href="#"
                                                                    class="card-options-collapse h5 fw-bold card-title mb-0"><span
                                                                        class="me-3 fs-18 fw-bold text-primary">01.</span>Can
                                                                    i get a free trial before purchase ?</a>
                                                            </div>
                                                            <div class="card-body pt-0">
                                                                <p>
                                                                    Lorem ipsum dolor sit amet consectetur adipisicing
                                                                    elit. Iure quos debitis aliquam .
                                                                </p>
                                                                <p class="mt-2 mb-3">
                                                                    <span class="fw-bold">Note: </span>Please Refer
                                                                    support section for more information.
                                                                </p>
                                                                <a href="javascript:void(0)"
                                                                    class="btn btn-outline-primary tx-13">Click here</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12 grid-item  px-0">
                                                        <div
                                                            class="card card-collapsed bg-success-transparent p-0 reveal">
                                                            <div class="card-header grid-link"
                                                                data-bs-toggle="card-collapse">
                                                                <a href="#"
                                                                    class="card-options-collapse  h5 fw-bold card-title mb-0"><span
                                                                        class="me-3 fs-18 fw-bold text-success">02.</span>What
                                                                    type of files i will get after purchase ?</a>
                                                            </div>
                                                            <div class="card-body pt-0">
                                                                <p>
                                                                    Lorem ipsum dolor sit amet consectetur adipisicing
                                                                    elit. Iure quos debitis aliquam.
                                                                </p>
                                                                <p class="mt-2 mb-3">
                                                                    <span class="fw-bold">Note: </span>Please Refer
                                                                    support section for more information.
                                                                </p>
                                                                <a href="javascript:void(0)"
                                                                    class="btn btn-outline-success tx-13">Click here</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12 grid-item  px-0">
                                                        <div
                                                            class="card card-collapsed bg-secondary-transparent p-0 reveal">
                                                            <div class="card-header grid-link"
                                                                data-bs-toggle="card-collapse">
                                                                <a href="#"
                                                                    class="card-options-collapse  h5 fw-bold card-title mb-0"><span
                                                                        class="me-3 fs-18 fw-bold text-secondary">03.</span>What
                                                                    is a single Application</a>
                                                            </div>
                                                            <div class="card-body pt-0">
                                                                <p>
                                                                    Lorem ipsum dolor sit amet consectetur adipisicing
                                                                    elit. Iure quos debitis aliquam.
                                                                </p>
                                                                <p class="mt-2 mb-3">
                                                                    <span class="fw-bold">Note: </span>Please Refer
                                                                    support section for more information.
                                                                </p>
                                                                <a href="javascript:void(0)"
                                                                    class="btn btn-outline-secondary tx-13">Click
                                                                    here</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12 grid-item  px-0">
                                                        <div
                                                            class="card card-collapsed bg-warning-transparent p-0 reveal">
                                                            <div class="card-header grid-link"
                                                                data-bs-toggle="card-collapse">
                                                                <a href="#"
                                                                    class="card-options-collapse  h5 fw-bold card-title mb-0"><span
                                                                        class="me-3 fs-18 fw-bold text-warning">04.</span>How
                                                                    to get future updates ?</a>
                                                            </div>
                                                            <div class="card-body pt-0">
                                                                <p>
                                                                    Lorem ipsum dolor sit amet consectetur adipisicing
                                                                    elit. Iure quos debitis aliquam.
                                                                </p>
                                                                <p class="mt-2 mb-3">
                                                                    <span class="fw-bold">Note: </span>Please Refer
                                                                    support section for more information.
                                                                </p>
                                                                <a href="javascript:void(0)"
                                                                    class="btn btn-outline-warning tx-13">Click here</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12 grid-item  px-0">
                                                        <div
                                                            class="card card-collapsed bg-danger-transparent p-0 reveal">
                                                            <div class="card-header grid-link"
                                                                data-bs-toggle="card-collapse">
                                                                <a href="#"
                                                                    class="card-options-collapse  h5 fw-bold card-title mb-0"><span
                                                                        class="me-3 fs-18 fw-bold text-danger">05.</span>Do
                                                                    you provide support ?</a>
                                                            </div>
                                                            <div class="card-body pt-0">
                                                                <p>
                                                                    Lorem ipsum dolor sit amet consectetur adipisicing
                                                                    elit. Iure quos debitis aliquam.
                                                                </p>
                                                                <p class="mt-2 mb-3">
                                                                    <span class="fw-bold">Note: </span>Please Refer
                                                                    support section for more information.
                                                                </p>
                                                                <a href="javascript:void(0)"
                                                                    class="btn btn-outline-danger tx-13">Click here</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 col-lg-6 reveal revealright">
                                                    <img src="../assets/images/landing/frequently-asked-questions.png"
                                                        alt="">
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </div>
                            <!-- ROW-7 CLOSED -->

                            <!-- ROW-8 OPEN -->
                            
                            <!-- ROW-8 CLOSED -->

                            <!-- ROW-9 OPEN -->
                            
                            <!-- ROW-9 CLOSED -->

                            <!-- ROW-10 OPEN -->
                            <div class="bg-image-landing section pb-0" id="Contact">
                                <div class="container">
                                    <div class="">
                                        <div class="card card-shadow reveal">
                                            <h4 class="text-center fw-semibold mt-7">Contact</h4>
                                            <span class="landing-title"></span>
                                            <h2 class="text-center fw-semibold mb-0 px-2">Get in Touch with <span
                                                    class="text-primary">US.</span></h2>
                                            <div class="card-body p-5 pb-6 text-dark">
                                                <div class="statistics-info p-4">
                                                    <div class="row justify-content-center">
                                                        <div class="col-lg-9">
                                                            <div class="mt-3">
                                                                <div class="text-dark">
                                                                    <div class="services-statistics reveal my-5">
                                                                        <div class="row text-center">
                                                                            <div class="col-xl-3 col-md-6 col-lg-6">
                                                                                <div class="card">
                                                                                    <div class="card-body p-0">
                                                                                        <div class="counter-status">
                                                                                            <div
                                                                                                class="counter-icon bg-primary-transparent box-shadow-primary">
                                                                                                <i
                                                                                                    class="fe fe-map-pin text-primary fs-23"></i>
                                                                                            </div>
                                                                                            <h4
                                                                                                class="mb-2 fw-semibold">
                                                                                                Main Branch</h4>
                                                                                            <p>San Francisco, CA </p>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-xl-3 col-md-6 col-lg-6">
                                                                                <div class="card">
                                                                                    <div class="card-body p-0">
                                                                                        <div class="counter-status">
                                                                                            <div
                                                                                                class="counter-icon bg-secondary-transparent box-shadow-secondary">
                                                                                                <i
                                                                                                    class="fe fe-headphones text-secondary fs-23"></i>
                                                                                            </div>
                                                                                            <h4
                                                                                                class="mb-2 fw-semibold">
                                                                                                Phone & Email</h4>
                                                                                            <p class="mb-0">+125 254
                                                                                                3562 </p>
                                                                                            <p>georgeme@abc.com</p>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-xl-3 col-md-6 col-lg-6">
                                                                                <div class="card">
                                                                                    <div class="card-body p-0">
                                                                                        <div class="counter-statuss">
                                                                                            <div
                                                                                                class="counter-icon bg-success-transparent box-shadow-success">
                                                                                                <i
                                                                                                    class="fe fe-mail text-success fs-23"></i>
                                                                                            </div>
                                                                                            <h4
                                                                                                class="mb-2 fw-semibold">
                                                                                                Contact</h4>
                                                                                            <p class="mb-0">
                                                                                                www.example.com</p>
                                                                                            <p>example@dev.com</p>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-xl-3 col-md-6 col-lg-6">
                                                                                <div class="card">
                                                                                    <div class="card-body p-0">
                                                                                        <div class="counter-status">
                                                                                            <div
                                                                                                class="counter-icon bg-danger-transparent box-shadow-danger">
                                                                                                <i
                                                                                                    class="fe fe-airplay text-danger fs-23"></i>
                                                                                            </div>
                                                                                            <h4
                                                                                                class="mb-2 fw-semibold">
                                                                                                Working Hours</h4>
                                                                                            <p class="mb-0">Monday -
                                                                                                Friday: 9am - 6pm</p>
                                                                                            <p>Satday - Sunday: Holiday
                                                                                            </p>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-9">
                                                            <div class="">
                                                                <form class="form-horizontal reveal revealrotate m-t-20"
                                                                    action="index.html">
                                                                    <div class="form-group">
                                                                        <div class="col-xs-12">
                                                                            <input class="form-control" type="text"
                                                                                required="" placeholder="Username*">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <div class="col-xs-12">
                                                                            <input class="form-control" type="email"
                                                                                required="" placeholder="Email*">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <div class="col-xs-12">
                                                                            <textarea class="form-control"
                                                                                rows="5">Your Comment*</textarea>
                                                                        </div>
                                                                    </div>
                                                                    <div class="">
                                                                        <a href="javascript:void(0)"
                                                                            class="btn btn-primary btn-rounded  waves-effect waves-light">Submit</a>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ROW-10 CLOSED -->

                            <!-- ROW-11 OPEN -->
                            <!-- <div class="">
                                <div class="container">
                                    <div class="testimonial-owl-landing buynow-landing reveal revealrotate">
                                        <div class="row pt-6">
                                            <div class="col-md-12">
                                                <div class="card bg-transparent">
                                                    <div class="card-body pt-5 px-7">
                                                        <div class="row">
                                                            <div class="col-lg-9">
                                                                <h1 class="fw-semibold text-white">Start Your Project
                                                                    with Sash.</h1>
                                                                <p class="text-white">Sed ut perspiciatis unde omnis
                                                                    iste natus error sit voluptatem accusantium
                                                                    doloremque laudantium, totam rem aperiam, eaque ipsa
                                                                    quae ab illo inventore veritatis et quasi architecto
                                                                    beatae vitae dicta sunt
                                                                    explicabo.
                                                                </p>
                                                            </div>
                                                            <div class="col-lg-3 text-end my-auto">
                                                                <a href="https://themeforest.net/item/sash-bootstrap-5-admin-dashboard-template/35183671"
                                                                    target="_blank"
                                                                    class="btn btn-pink w-lg pt-2 pb-2"><i
                                                                        class="fe fe-shopping-cart me-2"></i>Buy Now
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <!-- ROW-11 CLOSED -->

                        </div>
                    </div>
                    <!-- CONTAINER CLOSED-->
                </div>
            </div>
            <!--app-content closed-->
        </div>

        <!-- FOOTER OPEN -->
        <div class="demo-footer">
            <div class="container">
                <div class="row">
                    <div class="card">
                        <div class="card-body">
                            <div class="top-footer">
                                <div class="row">
                                    <div class="col-lg-4 col-sm-12 col-md-12 reveal revealleft">
                                        <h6>About</h6>
                                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                                            doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                                            veritatis et quasi architecto beatae vitae dicta sunt
                                            explicabo.
                                        </p>
                                        <p class="mb-5 mb-lg-2">Duis aute irure dolor in reprehenderit in voluptate
                                            velit esse cillum dolore eu fugiat nulla pariatur Excepteur sint occaecat .
                                        </p>
                                    </div>
                                    <div class="col-lg-2 col-sm-6 col-md-4 reveal revealleft">
                                        
                                    </div>
                                    <div class="col-lg-2 col-sm-6 col-md-4 reveal revealleft">
                                        <h6>Information</h6>
                                        <ul class="list-unstyled mb-5 mb-lg-0">
                                            <li><a href="about.html">Our Team</a></li>
                                            <li><a href="about.html">Contact US</a></li>
                                            <li><a href="about.html">About</a></li>
                                            <li><a href="services.html">Services</a></li>
                                            <li><a href="blog.html">Blog</a></li>
                                            <li><a href="terms.html">Terms and Services</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-4 col-sm-12 col-md-4 reveal revealleft">
                                        <div class="">
                                            <a href="index.html"><img loading="lazy" alt="" class="logo-2 mb-3"
                                                    src=""></a>
                                            <a href="index.html"><img src=""
                                                    class="logo-3" alt="logo"></a>
                                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                                                dolore eu fugiat nulla pariatur Excepteur sint occaecat.</p>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input type="text" class="form-control"
                                                        placeholder="Enter your email"
                                                        aria-label="Example text with button addon"
                                                        aria-describedby="button-addon1">
                                                    <button class="btn btn-primary" type="button"
                                                        id="button-addon2">Submit</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="btn-list mt-6">
                                            <button type="button" class="btn btn-icon rounded-pill"><i
                                                    class="fa fa-facebook"></i></button>
                                            <button type="button" class="btn btn-icon rounded-pill"><i
                                                    class="fa fa-youtube"></i></button>
                                            <button type="button" class="btn btn-icon rounded-pill"><i
                                                    class="fa fa-twitter"></i></button>
                                            <button type="button" class="btn btn-icon rounded-pill"><i
                                                    class="fa fa-instagram"></i></button>
                                        </div>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                            <footer class="main-footer px-0 pb-0 text-center">
                                <div class="row ">
                                    <div class="col-md-12 col-sm-12">
                                        Copyright  <span id="year"></span> <a href="javascript:void(0)">XYZ</a>.
                                        Designed with <span class="fa fa-heart text-danger"></span> by <a
                                            href="javascript:void(0)"> XYZ </a> All rights reserved.
                                    </div>
                                </div>
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- FOOTER CLOSED -->
    </div>

    <!-- BACK-TO-TOP -->
    <a href="#top" id="back-to-top"><i class="fa fa-angle-up"></i></a>

    <!-- JQUERY JS -->
    <script src="../assets/js/jquery.min.js"></script>

    <!-- BOOTSTRAP JS -->
    <script src="../assets/plugins/bootstrap/js/popper.min.js"></script>
    <script src="../assets/plugins/bootstrap/js/bootstrap.min.js"></script>

    <!-- COUNTERS JS-->
    <script src="../assets/plugins/counters/counterup.min.js"></script>
    <script src="../assets/plugins/counters/waypoints.min.js"></script>
    <script src="../assets/plugins/counters/counters-1.js"></script>

    <!-- Perfect SCROLLBAR JS-->
    <script src="../assets/plugins/owl-carousel/owl.carousel.js"></script>
    <script src="../assets/plugins/company-slider/slider.js"></script>

    <!-- Star Rating Js-->
    <script src="../assets/plugins/rating/jquery-rate-picker.js"></script>
    <script src="../assets/plugins/rating/rating-picker.js"></script>

    <!-- Star Rating-1 Js-->
    <script src="../assets/plugins/ratings-2/jquery.star-rating.js"></script>
    <script src="../assets/plugins/ratings-2/star-rating.js"></script>

    <!-- Sticky js -->
    <script src="../assets/js/sticky.js"></script>

    <!-- CUSTOM JS -->
    <script src="../assets/js/landing.js"></script>

</body>

</html>