<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link ref="stylesheet" href="../utils/form.css">
    <title>login</title>
</head>
<body>
    <div class="login">
<h1>Login</h1>
<form action="/login" method="POST"><h4>Email</h4>
    <label for="Email">
<input id="usern" name="email01" type="email" minlength="6" placeholder="Enter your email">
    </label>
    <br><br>
    <h4>Password</h4>
    <label for="Password">
        <input id="passw" name="Password01" type="password" minlength="6" placeholder="Enter your Password">
    </label>
    <br><br>
    <input type="submit" placeholder="Click Submit button"> 
</form>


    </div>
   
</body>
</html>
